{
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteSortOrder": "scripts-styles-markup",
        "svelteStrictMode": true,
        "svelteBracketNewLine": true
      }
    }
  ]
}
