{
  "printWidth": 120,
  "svelteSortOrder": "scripts-styles-markup",
  "plugins": ["prettier-plugin-svelte"],
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
