sudo: false
language: node_js
node_js:
  - stable
env:
  global:
    - BUILD_TIMEOUT=10000
    - secure: alYF9DO9oqg8em9loLX9sznP++bhUAbAxNCvRYtf6vWTo0yA9C/cin3lyyLPA79F4PySVnqQHn58CzvkVnpvIuhKHREqM3z2KRh9upHxZSr4xRbc3lyUnc5FMEPNbfpVn6RiW0O12qJ+FN8L4/8j4VSb3UH+Wqu/m4eQbWSdL/ex6qHIMBMKjuRZ1HLaHrumlzeRRzkLYHWL8KUueCxDlubf5Ly/4x8JS9arr1gmRFzg/EZ429YoQWTtmihQcQqBub6LzxSmdE30jAAc1D8lfu9eh8DlhioJgadsgrlkji0xgNUzT2vgI9PqNWJbAzx3DoOhy/6WJ3Ek8MQx7qUDQ8d3Nd8WZq0slK2EMHAW49kluK799Dqeb+MIqg6wOUmeoucyA3w7pV91Sp3YxcHRAFQGbdTAp0X3NLVZU1zg/dE5DlHXhsJA2eCT/GdBjCQkgtxChC0ZOPsK14p1d5m+qfIGctzcSVfTwQTwHQt3Xk+4dvlZi8qQoBu0Y48Q4asxjeBLbaqKIGyTJkPQG6yOHXncJuZgA2vyOScMzpexhWT9OXW3o7hYveEj3ex78R0bv9O5tK/bxvg1QJn5TBF66EgH7HXpUkrGOfd17DE1/rumQZwLzCp6yJx1JlLvRY6KypjQ3OjOAnDkRUlqORxSosR4Ik87YiLpTZ4AAyc2UIg=
    - secure: GbZ53arwFjbDznFgCqKRdwCKHQicdSGpFy80lyljovXABwsHfDeOQA4ntzFSsNZ6NxGM4epuzAw8UEIwUr05L6bCeMoS5RKHR1De9/PJjetDxHszimWuz6OJBY0LIsfz/ks8Q2fr7QScyxnFOSkm/xELeA/Qc7l5MnjnPP25QM6cE7iShgdMY8hUMpGUfYS9rR2GRBUz0gaAUYaBs4PIzHYA/1dQIQ0QObx5cLI3QgOstFsmZ5ouKit0rIKU6r8cPjwabdrbs8ium++s9AgOVjujiCVWqb6P+O7b9rh6vj3TPO2RF9QdCdhL4yyPTMFHIQ/fh1UGhWLUk1HkXhykch4mSOGzYPcb19qDj45eqfaiDF2ntmIkyIrsFfTB2JryB1OAFgLezBuUFdgeUFi8J/gbSWJkHjcqOnL+xKeRo8Ii3kw7lM9mti/jN7YlyhmK4e7ioqarZ8/rtsMjKqiy4Y7dAFx5i5YDRpZFQDdKsHxJuRBCWfD4KUHbZuVoNWLuwQk6/hdIvdJ3gfQiTqRwUiqWM750YyMSe0mkJ4yfxcIRhkUCml3/05NueN2/HehPzwC3GMZgLgiKtxHFteGdtpznNJH4qxwtTevEBjN4Y8tt22wcxLd2YHH+4ifQxYm/ir3UORwrw1CxUYf292yKQdotvV9RozSzdXklC6bEnQM=
    - secure: Zo0lXp+yHs1NHOSz7N841jk5SfMcTTqKgqTkEPMFLWLq1YOQ90u9Hr/JBXvjozhLiXwbvgOyvE+eJlvJuTrwVaZJy4EvIc1qXdIC/kU/cVUTrPoTJ33rMwGH3pPw4QUYcY/HZQ3Ox+MUfjJIX8uApXRSIXS/LDH8kN9K54z8hd7CeVaBV+ToSMAEtjyezgo9ko5rB6V84Z9sXTsWGbc6I2QNNqPU0NqBeTRoFWHPvFvPEk28eApnKD9bY7fpe/qzca+SL5vvD9ZQBmy1f4zbBSMK5stZGHvOBmA8684WZx6oM1VVEaUJzu65SuHSujWdrqKxCeUd1OY6YAmvFZ4w6JbvYqbAQlcbUCdxgvA0kDaKVTRGfS0EBhkpuSlYc28hHgYeGHKELJeCT8BC7C3i27nIgmZwon95DIUEh73R8hRmqUeKXH7wGWMIKIwQIMYuDHtec7nMNTd+mFyHJFqo5K5kAVyHXB5LFoLjtJynk3T12EhumAinHVZlx5jkeS/OWVJRCpOsDLL+4KYw4ZgXwLq6HG4Up5xN/WMq02CPNenJj9pUjmX1wJfU8BqqYv2Ew6BqmJKkDgAceoi8bt8WP1KmN2BZG/DbHdA2iWSLG62zfBmjaq3jBjGIH14+AFeCdzVfQEmHj2chkFKjo2ES1gjnu9JwCXbEAYter50XJRI=
branches:
  only:
    - master
cache:
  directories:
    - node_modules
install:
  - npm install -g travis-ci-cloudfront-invalidation
  - npm install
script:
  - npm run tf:init
  - npm run tf:apply
  - npm run build
  - npm run eslint
  - npm run export
deploy:
  provider: s3
  bucket: andrew.molyuk.com
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  local-dir: __sapper__/export
  skip_cleanup: true
after_deploy:
  - travis-ci-cloudfront-invalidation -a $AWS_ACCESS_ID -s $AWS_SECRET_ID -c $CF_ID -i '/*' -b $TRAVIS_BRANCH -p $TRAVIS_PULL_REQUEST -o 'master'
