{{ define "main" }}
<section class="mb-12 text-gray-800 text-center md:text-left">

    <h1 class="text-3xl font-bold mb-12 text-center">Open-source projects</h1>
    <p class="px-3">
        Programs, libraries, and other things are accessible to everyone at absolutely no cost. Some of them are used
        in production, some are just for fun. Feel free to use them in your projects. All of them are
        open-source and available on GitHub and Thingiverse.
    </p>
    <div class="flex flex-wrap my-6 justify-center">
        {{ range .Pages.ByTitle }}
        <a href="{{ .Params.Link }}" aria-label="{{ .Title }}" target="_blank"
           class="m-2 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            {{ $image := (((.Resources.Get .Params.Image ).Resize "x1600 q90 jpg").Crop "1000x1600 q90 jpg").Resize
            "750x1200 webp" }}
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                 src="{{ $image.RelPermalink }}" alt="">
            <div class="flex flex-col justify-between px-4 leading-normal">
                <h2>{{ .Title }}</h2>
                <p>{{ .Summary }}</p>
            </div>
        </a>
        {{ end }}
    </div>
</section>
{{ end }}
