{{ $this := .}}
{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ with $image }}
{{ $small := $image.Resize "768x webp" }}
{{ $medium := $image.Resize "1024x webp" }}
{{ $big := $image.Resize "1600x webp" }}

<img class="lg:max-w-4xl md:max-w-xl md:mx-auto rounded-xl"
     sizes="100vw"
     srcset="{{ $small.RelPermalink }} 768w, {{ $medium.RelPermalink }} 1024w, {{ $big.RelPermalink }} 1600w"
     src="{{ $image.RelPermalink }}"
     alt="{{ strings.TrimSuffix (path.Ext $this.PlainText) $this.PlainText | safeHTML }}"
>

{{ end }}
