body {
    color: #333333;
    margin: 0 auto;
    padding: 3em;
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 10px;
    height: 100vh;
    font-family: sans-serif;
    font-size: 18px;
    max-width: 1280px;
}

::selection {
    background-color: #ffffd0;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.header-logo {
    grid-column: 1;
    align-self: center;
    font-size: 1.5em;
    cursor: pointer;
}

.header-logo a:any-link {
    color: #333333;
    text-decoration: none;
}

.header-nav {
    grid-column: 2;
    align-self: center;
}

.header-nav ul {
    list-style-type: none;
    font-size: 18px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.header-nav li {
    padding: 0 1em;
}

.header-nav a:any-link {
    color: #666666;
    text-decoration: none;
}

.header-nav a.active {
    color: #333333;
    border-bottom: 0.1em solid #333333;
}

footer {
    padding: 2em 0;
    display: grid;
    grid-template-columns: 1fr auto;
}

.title {
    padding: 0 0;
    font-size: 3.5em;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

#content p {
    line-height: 1.7em;
}

#content a {
    color: #337ab7;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

.feather {
    width: 0.8em;
    height: 0.8em;
}

p code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 1.2em;
}


.highlight-wrapper {
    display: block;
}


.highlight {
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 800px;
    background-color: #333333;
    position: relative;
    z-index: 0;
}

.highlight pre, .highlight pre span {
    background-color: #333333 !important;
    overflow: auto;
    max-width: 100%;
    line-height: 1.3em;
}

.copy-code-button {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 500;
    width: 70px;
    color: #333333;
    background-color: #ffffff;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    padding: 4px;
    margin: 0;
    cursor: pointer;
    opacity: 0.5;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
    color: #333333;
    background-color: #cccccc;
    opacity: 1;
}

.copyable-text-area {
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: .01;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 35px;
    align-items: stretch;
}

.grid.links {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.grid > article {
    padding: 0.5em 2em;
    background-color: #f9f9f9;
    border-radius: 20px;
}

.tag-btn {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 1em;
}

.rss {
    text-decoration: none;
    color: white;
    background-color: #f26522;
    border-radius: 6px;
    padding: 4px 6px 2px 6px;
    font-size: 0.75em;
}
