{{ define "main" }}
<main class="container my-6 md:my-12 px-6 mx-auto">
  <section class="md:mb-32 text-gray-800">

    <div
            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
            data-mdb-ripple="true" data-mdb-ripple-color="light"> {{ $image := ((.Resources.Get .Params.Cover.Image).Resize "1600x q90 jpg").Crop "1600x400 webp" }}
    <img src="{{ $image.RelPermalink }}" class="hidden md:block w-full shadow-lg rounded-t-lg" alt="{{ .Params.Cover.Title }}" loading="lazy"/>
    <a class="hidden md:block text-right text-sm text-red-700 md:mt-1" target="_blank" href="{{ .Params.Cover.Link }}">
      <div class="flex justify-center align-middle hover:underline">
        {{ .Params.Cover.Title }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
      </div>
    </a>
    </div>

    <h1>{{ .Title }}</h1>

    {{- partial "tags.html" . -}}

    {{ .Content }}

    {{ $currPermalink := .Page.RelPermalink }}
    {{ $similarPages := slice }}
    {{ range (.GetTerms "blog/tags") }}
    {{ $currTag := .LinkTitle }}
    {{ $taggedPages := (index .Site.Taxonomies "blog/tags" (replace (lower $currTag) " " "-")).Pages }}
    {{ range $taggedPages }}
    {{ if not (eq .RelPermalink $currPermalink) }}
    {{ $similarPages = $similarPages | append (slice .) }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if gt (len $similarPages) 0 }}
    <h3 class="mt-12">Similar articles</h3>
    <ul class="list-disc list-inside">
      {{ range first 5 ($similarPages | uniq) | shuffle }}
      <li><a class="text-red-800 hover:text-red-700 underline" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
      this.page.url = '{{ printf "%s%s" "https://andrew.molyuk.com" .RelPermalink }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ .RelPermalink }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://andrew-molyuk-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  <script defer id="dsq-count-scr" src="//andrew-molyuk-com.disqus.com/count.js"></script>
</main>
{{ end }}