{{ define "main" }}
<main class="container my-24 px-6 mx-auto">
  <section class="mb-32 text-gray-800">

    {{ $image := ((.Resources.Get .Params.Cover.Image).Resize "1600x q90 jpg").Crop "1600x400 webp" }}
    <img src="{{ $image.RelPermalink }}" class="hidden w-full shadow-lg rounded-lg md:block" alt="{{ .Params.Cover.Title }}" loading="lazy"/>
    <a class="hidden text-right md:block text-sm text-red-700 mt-1 mb-6" target="_blank" href="{{ .Params.Cover.Link }}">{{ .Params.Cover.Title }}</a>

    <h1>{{ .Title }}</h1>

    {{- partial "tags.html" . -}}

    {{ .Content }}

    {{ $currPermalink := .Page.RelPermalink }}
    {{ $similarPages := slice }}
    {{ range (.GetTerms "blog/tags") }}
    {{ $currTag := .LinkTitle }}
    {{ $taggedPages := (index .Site.Taxonomies "blog/tags" (replace (lower $currTag) " " "-")).Pages }}
    {{ range $taggedPages }}
    {{ if not (eq .RelPermalink $currPermalink) }}
    {{ $similarPages = $similarPages | append (slice .) }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if gt (len $similarPages) 0 }}
    <h3 class="mt-12">Similar articles</h3>
    <ul class="list-disc list-inside">
      {{ range first 5 ($similarPages | uniq) | shuffle }}
      <li><a class="text-red-800 hover:text-red-700 underline" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
      this.page.url = '{{ printf "%s%s" "https://andrew.molyuk.com" .RelPermalink }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ .RelPermalink }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://andrew-molyuk-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</main>
{{ end }}