@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #content pre {
    @apply p-4 shadow-md bg-gray-100 my-6 rounded-md leading-5 overflow-auto;
  }

  #content h1 {
    @apply text-5xl my-5 font-medium leading-tight pb-2;
  }

  #content h2 {
    @apply text-4xl my-4 font-medium leading-tight pb-2;
  }

  #content h3 {
    @apply text-3xl my-3 font-medium leading-tight;
  }

  #content h4 {
    @apply text-2xl my-2 font-medium leading-tight;
  }

  #content h5 {
    @apply text-xl my-1 font-medium leading-tight;
  }

  #content p {
    @apply text-xl font-light my-3;
  }

  #content ul {
    @apply ml-6 list-disc text-xl font-light leading-relaxed;
  }

  #content p code {
    @apply bg-gray-200 text-red-800 rounded-md py-0.5 px-1;
  }

  #content p a {
    @apply text-red-800 hover:text-red-700 underline;
  }

}
