{{ $title := print .Site.Title " | " (.Title | humanize) }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
{{ if eq $title "#andrewmolyuk | Blog tags" }}{{ $title = "Облако тегов" }}{{ end }}

{{ $image := "https://andrew.molyuk.com/favicon.svg" }}
{{ with .Params.Cover }}
{{ $image = ((((page.Resources.Get page.Params.Cover.Image).Resize "1600x q90 jpg").Crop "1600x1000 q90 jpg").Resize "568x355 webp").Permalink }}
{{ end }}

{{ $description := .Site.Params.Description }}
{{ with .Summary }}
{{ $description = . }}
{{ end }}

<title>{{ $title }}</title>
<!-- Primary Meta Tags -->
<meta name="title" content="{{ $title }}">
<meta name="description" content="{{ $description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink | absURL | safeURL }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ $image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink | absURL | safeURL }}">
<meta property="twitter:title" content="{{ $title }}">
<meta property="twitter:description" content="{{ $description }}">
<meta property="twitter:image" content="{{ $image }}">
