{{ define "main" }}
<section class="mb-12 ">
    <div class="container px-6 mx-auto">
        <div class="flex flex-wrap -mx-6">
            <div class="hidden md:block">
                <img src="cover.webp" class="z-auto w-full rounded-b-2xl" alt="#andrewmolyuk"
                     loading="lazy"/>
                <img src="avatar.jpeg"
                     class="relative rounded-full bg-gray-100 p-1 w-32 -mt-24 lg:w-36 lg:-mt-28 xl:w-40 xl:-mt-32 ml-12"
                     alt="#andrewmolyuk" loading="lazy"/>
            </div>
            <div class="w-full px-6">

                <h1 class="text-red-800">Breaking News</h1>
                <h4 class="text-red-800">My company announced we are closing the business. We didn't survive the crisis
                    in the ads market.</h4>
                <h4 class="text-red-800">If I can be helpful for you, please contact me via
                    <a class="underline text-red-600" href="mailto:andrew@molyuk.com">andrew@molyuk.com</a>
                    or through Telegram at
                    <a class="underline text-red-600" href="https://t.me/andrewmolyuk">@andrewmolyuk</a>.
                </h4>
                <h4 class="text-red-800">My current resume is available as
                    <a class="underline text-red-600" target="_blank" href="https://andrew.molyuk.com/Andrew Molyuk.pdf">PDF</a>
                    or as
                    <a class="underline text-red-600" target="_blank" href="https://andrew.molyuk.com/Andrew Molyuk.docx">Word</a>
                    document.
                </h4>
                <h4 class="text-red-600">Sincerely yours, Andrew Molyuk.</h4>
                <h1 class="mb-6 text-4xl font-bold text-gray-800 md:text-5xl">Hey, nice to meet you!</h1>
                <p>As you might have guessed, my name is Andrew and I proudly embrace multiple roles in my life. I am a
                    father to a wonderful gang of four, a contented husband, an actively engaged development manager, a
                    seasoned software architect, a principal coder, a proficient devops specialist, and a technology
                    guru. Wearing these diverse hats is not just a matter of habit for me; it genuinely brings me
                    joy.</p>
                <p>Throughout my career, I have amassed extensive experience in guiding teams and organizations towards
                    success. I have been a catalyst for success over the years, leading with expertise and
                    determination.</p>
                <p>Feel free to find enjoyment in this space or discover something valuable. If you have any suggestions
                    or questions, don't hesitate to contact me directly via email at <a href="mailto:andrew@molyuk.com">andrew@molyuk.com</a>
                    or through Telegram at <a href="https://t.me/andrewmolyuk">@andrewmolyuk</a>.</p>
                <p>Thank you for visiting!</p>
                <p>Allow me to share a few highlights from the past few years of my professional and personal
                    journey.</p>
                <ol class="mt-12 relative border-l border-gray-300 dark:border-gray-700">
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-100 dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500">2022
                        </time>
                        <h2 class="text-lg font-semibold dark:text-white">Pandemic and War in Ukraine</h2>
                        <p class="mb-4 text-base font-normal dark:text-gray-400">I immersed myself deeply
                            in the realm of video ads and arbitration, leading a fully remote development team. We
                            handled an impressive volume of approximately in 23 billion aggregated events each day and
                            updated around 300 million entries in our database daily. Operating complex
                            decision-making algorithms, we managed over 250 automatically scalable computing units
                            during peak loads while effectively automating business processes.
                        </p>
                        <p class="mb-4 text-base font-normal  dark:text-gray-400">During the challenging
                            times of the coronavirus pandemic and quarantine, we adapted to working from home,
                            encountering new obstacles and finding joy in overcoming them daily.
                        </p>
                        <p class="mb-4 text-base font-normal  dark:text-gray-400">On a personal note, my
                            son's wedding took place in Prague, and it was a truly joyous occasion for my family.
                            Witnessing my son and his wife's happiness brought me immense joy.
                        </p>
                        <p class="mb-4 text-base font-normal  dark:text-gray-400">Unfortunately, shortly
                            after the wedding, the war in Ukraine broke out. As a result, we had to discontinue
                            collaboration with Belarus and relocated our R&D center to the picturesque country of
                            Georgia. This transition proved to be both delicate and fascinating, providing valuable
                            experiences for me and my team.</p>
                    </li>
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-100 dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none dark:text-gray-500">2016
                        </time>
                        <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Show Must Go On</h2>
                        <p class="text-base font-normal  dark:text-gray-400">During that period, my days
                            were filled with American TV shows and relentless hard work. Balancing distributed
                            development teams and local units consumed most of my time.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">In an impressively short span,
                            we managed to develop a sophisticated voting system for an ultra-large-scale application.
                            This robust system had the capability to handle a staggering 30 million simultaneous
                            connections, processing up to 3 million requests per second. We successfully deployed this
                            system across various countries, including the United States, Brazil, Argentina, Portugal,
                            Indonesia, Israel, and Russia.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">I felt a surge of excitement
                            when I had the opportunity to collaborate with renowned entities such as ABC, Disney,
                            Univision, and Fusion. It was a privilege to contribute to projects involving these esteemed
                            organizations.
                        </p>
                    </li>
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-100 dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">2008</time>
                        <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Step into Video and
                            Management</h2>
                        <p class="text-base font-normal  dark:text-gray-400">For a significant period, I
                            served as an architect in a small yet ambitious company focused on web-based video asset
                            management. During this time, we forged partnerships with prominent Israeli media giants,
                            including Ynet, Maariv, Walla, TheMarker, Yellow pages, and others. We also collaborated
                            with a number of international companies, including the BBC, The New York Times, and The
                            Washington Post.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">The experience proved to be
                            highly engaging and filled with challenges, particularly due to the fact that we built the
                            entire system from the ground up. This endeavor provided me with my first taste of C-level
                            managerial responsibilities, which added an extra layer of growth and learning to my
                            professional journey.
                        </p>
                    </li>
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-100 dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">2003</time>
                        <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Empathy-Driven Innovations</h2>
                        <p class="text-base font-normal  dark:text-gray-400">I embarked on my initial
                            ventures into complex financial systems and telecom solutions, while also being actively
                            involved in the design and development of a vast web platform that utilized data science to
                            enhance oncology care in children's departments.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">During this period, I gained a
                            deeply human experience as we actively participated in deploying and configuring the system
                            within hospitals. This hands-on involvement allowed for close communication and
                            collaboration with both doctors and children, further reinforcing the significance and
                            impact of our work in improving the lives of young patients.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">Additionally, these
                            experiences instilled in me a profound appreciation for the importance of empathy and
                            understanding within the realm of healthcare. Witnessing the daily challenges faced by
                            doctors and the bravery displayed by the young patients served as a constant reminder of the
                            significance of our work. It reinforced my commitment to leveraging technology and
                            innovative solutions to make a positive difference in the lives of those in need. These
                            early steps in the healthcare domain paved the way for my continued passion for developing
                            solutions that have a meaningful impact on people's well-being.
                        </p>
                    </li>
                    <li class="ml-4">
                        <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-100 dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none  dark:text-gray-500">1997</time>
                        <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Embracing New Horizons</h2>
                        <p class="text-base font-normal  dark:text-gray-400">Upon immigrating to Israel, I
                            embarked on an exhilarating journey by joining a mid-level company as a developer in the
                            database management team. My primary responsibility revolved around shaping data and
                            replication processes, which presented an exciting challenge.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">Transitioning to a new work
                            environment and country demanded quick adaptation, yet this experience was enriched by the
                            opportunity to collaborate with numerous skilled professionals. These colleagues, who have
                            since become invaluable companions, played a pivotal role in shaping my professional growth.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">Immersed in Israel's vibrant
                            tech scene, I discovered a dynamic backdrop for further development. The collaborative
                            nature of the industry fostered an atmosphere of innovation and continuous learning. This
                            allowed me to broaden my horizons and explore new avenues within the realm of database
                            management.
                        </p>
                        <p class="text-base font-normal  dark:text-gray-400">Through the exchange of
                            knowledge and shared experiences with my colleagues, our projects thrived, fostering lasting
                            connections and a sense of camaraderie. This period marked an exciting chapter in my career,
                            laying the foundation for ongoing growth and exploration in the ever-evolving world of
                            technology.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
{{ end }}
