{{ define "main" }}
<section class="mb-12 text-gray-800 text-center md:text-left">

    <h1 class="text-3xl font-bold mb-12 text-center">Useful links</h1>

    <p>Hey over here! I've collected a bunch of useful links for you to check out. Most of them are related to my
        professional interests, but there are some fun ones in there too. I've tried to categorize them as best
        as I can. If you have any suggestions for links to add, please let me know!</p>

    {{ range (where (where .Site.Pages "Section" "links") "Kind" "page").ByTitle }}
    <article>
        <h3> {{.Title}}</h3>
        <p>{{ .Content }}</p>
    </article>
    {{ end }}

</section>
{{ end }}
